/* Header
----------------------------------------------------------------------------------------------------*/
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
  color: #9a001f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-nav > li:hover, .navbar-default  .navbar-nav > li.active, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #9a001f;
  background-image: url(../images/navbar-bg-hover.gif);
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9a001f), to(#a92640));
  background-image: -webkit-linear-gradient(top, #9a001f, #a92640);
  background-image:    -moz-linear-gradient(top, #9a001f, #a92640);
  background-image:     -ms-linear-gradient(top, #9a001f, #a92640);
  background-image:      -o-linear-gradient(top, #9a001f, #a92640);
  background-image:         linear-gradient(to bottom, #9a001f, #a92640);
}

/* Google custom search
----------------------------------------------------------------------------------------------------*/
.cse input.gsc-search-button, input.gsc-search-button {
  background-color: #9A001F !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9a001f), to(#a92640)) !important;
  background-image: -webkit-linear-gradient(top, #9a001f, #a92640) !important;
  background-image:    -moz-linear-gradient(top, #9a001f, #a92640) !important;
  background-image:     -ms-linear-gradient(top, #9a001f, #a92640) !important;
  background-image:      -o-linear-gradient(top, #9a001f, #a92640) !important;
  background-image:         linear-gradient(to bottom, #9a001f, #a92640) !important;
  border: 1px solid #9a001f !important;
}

/* Content
----------------------------------------------------------------------------------------------------*/
article a,
article a:visited,
article a:active,
article a:focus,
article a:hover {
  color: #9A001F;
}
article h2 {
  color: #9A001F;
}

#product-buttons {
  text-align: center;
}
#product-buttons .button{
  display: inline-block;
  margin-bottom: 5px;
}
#product-buttons .background{
  width: 280px;
  text-align: left;
  
  border-radius: 5px; /* future proofing */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  background-color: #521312;
  background-image: url(../images/button-bg.gif);
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b52126), to(#501312));
  background-image: -webkit-linear-gradient(top, #b52126, #501312);
  background-image:    -moz-linear-gradient(top, #b52126, #501312);
  background-image:     -ms-linear-gradient(top, #b52126, #501312);
  background-image:      -o-linear-gradient(top, #b52126, #501312);
  background-image:         linear-gradient(to bottom, #b52126, #501312);
  display:inline-block;
}
#product-buttons .background:hover {
  cursor: pointer;
  text-decoration: none;
  
  background-color: #b52126;
  background-image: none;
}
#product-buttons a {
  font-weight: bold;
  color: #fff;
}
#product-buttons img{
  margin: 5px;
  display: inline-block;
  height: auto;
  max-width: 20%;
}
#product-buttons span.brand{
  font-size: 16px;
}
#product-buttons span.model{
  font-size: 16px;
}

#product-buttons.products-page {
  text-align: left;
}

aside section h4 {
  background-color: #9a001f;
}

/* Footer
----------------------------------------------------------------------------------------------------*/
footer {
  background-color: #9a001f;
  background-image: url(../images/footer-bg.gif);
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a92640), to(#9a001f));
  background-image: -webkit-linear-gradient(top, #a92640, #9a001f);
  background-image:    -moz-linear-gradient(top, #a92640, #9a001f);
  background-image:     -ms-linear-gradient(top, #a92640, #9a001f);
  background-image:      -o-linear-gradient(top, #a92640, #9a001f);
  background-image:         linear-gradient(to bottom, #a92640, #9a001f);
}
ul#representatives li.state-col-2 {
  margin-left: 90px;
}
footer .col-topper {
  margin-top: -7.15em;
}



/* Small devices (tablets, 768px and up) */
@media(min-width:768px){
  #product-buttons .button{
    margin-bottom: 0;
  }
  #product-buttons .background{
    width: auto;
    text-align: center;
  }
  #product-buttons .background > span {
    margin: 2px;
    text-align: center;
    display: block;
  }
  #product-buttons img{
    margin: 10px 10px 5px 10px;
    width: auto;
    max-width: 100%;
    height: auto;
  }
  #product-buttons span.brand{
    font-size: 12px;
  }
  #product-buttons span.model{
    font-size: 16px;
    margin-bottom: 5px;
  }

  #product-buttons.products-page > span {
    display: block;
    float: left;
    width: 25%;
    text-align: left;
  }
  #product-buttons.products-page .background {
    width: 95%;
  }
  #product-buttons.products-page .desc {
    margin-top: 15px;
    width: 95%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){
  #product-buttons.products-page .background {
    width: 90%;
  }
  #product-buttons.products-page .desc {
    width: 90%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){
  #product-buttons.products-page > span {
    width: 24%;
  }
}
