body  a:hover {
    text-decoration: underline;
}

article {
  padding-bottom: 20px;
}
article h2 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 24px;
    color: #9a001f;
}
article h2:first-child {
  margin-top: 15px;
}
article h3 {
    font-size: 14px;
    font-weight: bold;
}
article h4 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 14px;
    color: #333;
}
article h5 {
    font-family: Georgia, serif;
    font-weight: normal;
}

article table {
    border-collapse:collapse;
}

/* Header
----------------------------------------------------------------------------------------------------*/
#logo {
  float: left;
  margin: 0;
  padding: 0;
}
#logo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0 15px;
}

#header-info {
    font-weight: bold;
    color: #333333;
    margin: 10px 50px 0 0;
    float: right;
}
.manufactured-by {
  text-align: center;
  display: block;
}
.manufactured-by a {
  display: block;
  margin-top: 5px;
}

.navbar-default .navbar-collapse {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; 
  
  background-color: #d7d7d7;
  background-image: url(../images/navbar-bg.gif);
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#d7d7d7));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #d7d7d7);
  background-image:    -moz-linear-gradient(top, #f4f4f4, #d7d7d7);
  background-image:     -ms-linear-gradient(top, #f4f4f4, #d7d7d7);
  background-image:      -o-linear-gradient(top, #f4f4f4, #d7d7d7);
  background-image:         linear-gradient(to bottom, #f4f4f4, #d7d7d7);
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus {
    color: #9a001f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus,
.navbar-default .navbar-nav > li:hover, .navbar-default  .navbar-nav > li.active, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #9a001f;
    background-image: url(../images/navbar-bg-hover.gif);
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9a001f), to(#a92640));
    background-image: -webkit-linear-gradient(top, #9a001f, #a92640);
    background-image:    -moz-linear-gradient(top, #9a001f, #a92640);
    background-image:     -ms-linear-gradient(top, #9a001f, #a92640);
    background-image:      -o-linear-gradient(top, #9a001f, #a92640);
    background-image:         linear-gradient(to bottom, #9a001f, #a92640);
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > li:hover a:hover {
    color: #fff;
}
.navbar-default .navbar-nav > li.dropdown .dropdown-menu {
    background: #666;
}
.navbar-default .navbar-nav > li.dropdown .dropdown-menu li a {
    color: #fff;
    text-transform: none;
}
.navbar-default .navbar-nav > li.dropdown .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: #777;
}

/* Google custom search
----------------------------------------------------------------------------------------------------*/
table.gsc-search-box td {
    vertical-align: top !important;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    height: auto !important;
    width: auto !important;
    margin-top: -5px !important;
}
.cse .gsc-control-cse, .gsc-control-cse {
    background-color: transparent !important;
    border: none !important;
}
.cse .gsc-control-cse, .gsc-control-cse {padding: 7px 6px 6px 0 !important}
.cse input.gsc-input,input.gsc-input{background-image: none !important}
input.gsc-input {font-size: 14px !important}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    padding: 6px 10px !important;
    margin-top: 0 !important;
}
.cse input.gsc-search-button, input.gsc-search-button {
     background-color: #9A001F !important;
     background-image: -moz-linear-gradient(center top , #9A001F, #A92640) !important;
     border: 1px solid #A92640 !important;
}

/* Content
----------------------------------------------------------------------------------------------------*/
#product-buttons {
  text-align: center;
}
#product-buttons .button{
  display: inline-block;
  margin-bottom: 5px;
}
#product-buttons .background{
  width: 280px;
  text-align: left;
  
  border-radius: 5px; /* future proofing */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  background-color: #521312;
  background-image: url(../images/button-bg.gif);
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b52126), to(#501312));
  background-image: -webkit-linear-gradient(top, #b52126, #501312);
  background-image:    -moz-linear-gradient(top, #b52126, #501312);
  background-image:     -ms-linear-gradient(top, #b52126, #501312);
  background-image:      -o-linear-gradient(top, #b52126, #501312);
  background-image:         linear-gradient(to bottom, #b52126, #501312);
  display:inline-block;
}
#product-buttons .background:hover {
  cursor: pointer;
  text-decoration: none;

  background-color: #b52126;
  background-image: none;
}
#product-buttons a {
  font-weight: bold;
  color: #fff;
}
#product-buttons img{
  margin: 5px;
  display: inline-block;
  height: auto;
  max-width: 20%;
}
#product-buttons span.brand{
  font-size: 16px;
}
#product-buttons span.model{
  font-size: 16px;
}

#documents  ul {
    margin: 15px 0;
    padding: 0;
    line-height: 300%;
}
#documents  ul li {
    padding-right: 4px;
    display: inline-block;
}
#documents  ul li:first-child {
  padding-right: 0;
}
#documents  ul li a {
    background: #dedede;
    padding: 6px 5px 6px 5px;
    font-size: 10px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}
#documents  ul li a img {
    vertical-align: middle;
    padding-right: 5px;
}
#documents  ul li a:hover {
    background: #bebebe;
    text-decoration: none;
}

aside section h4 {
    background-color: #9a001f;
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px 0;
}
aside section p {
    margin-bottom: 20px;
    padding: 0px 2px 0px 2px;
    font-size: 12px;
    line-height: 175%;
}

/* Footer
----------------------------------------------------------------------------------------------------*/
footer {
  margin: 30px 0 -5px 0;
  color: #fff;
  padding: 10px 0;

  background-color: #9a001f;
  background-image: url(../images/footer-bg.gif);
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a92640), to(#9a001f));
  background-image: -webkit-linear-gradient(top, #a92640, #9a001f);
  background-image:    -moz-linear-gradient(top, #a92640, #9a001f);
  background-image:     -ms-linear-gradient(top, #a92640, #9a001f);
  background-image:      -o-linear-gradient(top, #a92640, #9a001f);
  background-image:         linear-gradient(to bottom, #a92640, #9a001f);
  display:inline-block;
  /* For IE 7 */
  zoom: 1;
  *display: inline;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
  color: #fff;
  text-decoration: underline;
}
footer h5 {
    font-weight: bold;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 5px;
}
footer ul {
    list-style-type: none;
    padding-left: 20px;
}
footer ul li a {
    color: #e8c4cb;
    font-size: 12px;
}
ul#representatives li.state-col-2 {
    margin-left: 90px;
}
footer .col-topper {
    margin-top: -7.15em;
}

#copyright, #design-by {
 margin-top: 35px; 
}



/* 
#
##
### Small devices (tablets, 768px and up)
##
#
*/
@media(min-width:768px){
  body  h2 {
    font-size: 24px;
  }
  body  h3 {
    font-size: 18px;
    font-weight: 500;
  }
  body h4 {
      font-size: 18px;
  }

  #wrapper {
    padding-top: 5px;
    box-shadow: 0 50px 100px 0 #cccc99;
  }
  
  #logo img {
    padding: 0
  }
  
  .navbar {
    margin-bottom: 10px;
  }
  .navbar-default {
    border: none;
  }
  .navbar-header {
    float: none;
  }
  .navbar-default .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 2px solid #666;
  }
  .navbar-nav > li.dropdown .dropdown-menu li:last-child {
    padding-bottom: 20px;
  }
  
  #navbar-search {
    float: right;
    text-align: right;
    width: 220px;
    max-height: 50px;
    padding-top: 5px;
  }
  
  #product-buttons .button{
    margin-bottom: 0;
  }
  #product-buttons .background{
    width: auto;
    text-align: center;
  }
  #product-buttons .background > span {
    margin: 2px;
    text-align: center;
    display: block;
  }
  #product-buttons img{
    margin: 10px 10px 5px 10px;
    width: auto;
    max-width: 100%;
    height: auto;
  }
  #product-buttons span.brand{
    font-size: 12px;
  }
  #product-buttons span.model{
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  #documents  ul li a {
    font-size: 13px;
  }
  
  footer nav {
    background: url("../images/footer-border.png") repeat-y scroll 0 0 transparent;
  }
  footer nav:first-child {
    background: none
  }
  
  #copyright {
    padding-left: 20px;
  }
  #design-by {
    padding-right: 20px;
    text-align: right;
  }
}
/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){}
/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){
  #product-buttons .button{
    margin: 0 5px;
  }
  #product-buttons img{
    margin: 10px 20px 5px 20px;
  }
}